.material-symbols-outlined {
    color: white;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#menu {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body {
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: brown;
    font-size: 1.5rem;

}

a {
    padding: 1rem;
    text-decoration: none;
    color: white;
}

@media (max-width: 450px) {

header{
    justify-content:  start;
    align-items: center;
    flex-direction: column;
   
}

    .mostraNavegacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: brown;
        width: 100%;
    }

    .revelarNavegacao{
        display: none;
    }

    #menu {
        display: block;
    }
}